<a href="https://colab.research.google.com/github/jongkwangyun/quant/blob/main/%EB%8F%99%EC%A0%81%EC%9E%90%EC%82%B0%EB%B0%B0%EB%B6%84_PAA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [157]:
# 첫 설치 이후 설치 안함
# !pip install yfinance

In [158]:
# 첫 설치 이후 설치 안함
# !pip install pandas_market_calendars

In [159]:
from pandas_datareader import data as pdr
import yfinance as yf

# yfinance 라이브러리 내장 기능을 활성화한다.
# yfinance의 데이터 가져오기 기능이 pandas_datareader 를 통해 사용할 수 있다.
yf.pdr_override()

import pandas as pd
import exchange_calendars as ecals
from datetime import datetime, timedelta
from IPython.display import display, Markdown
import csv

# display에서 소수점 4자리까지 표현
pd.options.display.float_format = '{:.4f}'.format

# display시 DataFrame 모든 열 표시
pd.set_option('display.max_columns', None)

# ETF 가격 지정된 기간에서 가져와서 DataFrame에 담기
'''
def get_price_data(x, start_date, end_date):
  df_price = pd.DataFrame(columns=x)
  for ticker in x:
    df_price[ticker] = pdr.get_data_yahoo(ticker, start=start_date, end=end_date)['Adj Close']
  return df_price.dropna(axis=0)
'''

# 1년 전 개장일 구하기
us_market_code = "XNYS"
us_calendar = ecals.get_calendar(us_market_code)

# 각 날짜 변수에 저장
today = datetime.today().date()
today_workday = pd.Timestamp(us_calendar.previous_open(today - timedelta(days=0)).date())
month_01_ago_workday = pd.Timestamp(us_calendar.previous_open(today - timedelta(days=30)).date())
month_03_ago_workday = pd.Timestamp(us_calendar.previous_open(today - timedelta(days=91)).date())
month_06_ago_workday = pd.Timestamp(us_calendar.previous_open(today - timedelta(days=182)).date())
month_12_ago_workday = pd.Timestamp(us_calendar.previous_open(today - timedelta(days=365)).date())

# 전략에 사용할 ETF 명 리스트에 담기
PAA = ['SPY', 'QQQ', 'IWM', 'VGK', 'EWJ', 'EEM', 'IYR', 'GSG', 'GLD', 'HYG', 'LQD', 'TLT', 'IEF']

# ETF 가격 추출
# df_PAA = get_price_data(PAA, month_12_ago_workday, today).sort_index(ascending=False)
# [PAA] : PAA 순서대로 만들기
df_PAA = yf.download(PAA, start=month_12_ago_workday, end=today)['Adj Close'].sort_index(ascending=False)[PAA]
display(df_PAA)

[*********************100%***********************]  13 of 13 completed

,SPY,QQQ,IWM,VGK,EWJ,EEM,IYR,GSG,GLD,HYG,LQD,TLT,IEF
Date,,,,,,,,,,,,,
2023-08-14,448.1100,370.3500,190.6600,61.5800,60.8200,39.3700,85.4900,21.4400,177.0600,74.8200,105.0100,95.1600,93.9800
2023-08-11,445.6500,366.2400,190.9900,61.7000,61.3700,39.5600,86.0900,21.5600,177.6000,74.8300,105.0500,95.3700,94.1300
2023-08-10,445.9100,368.5900,190.7200,62.2300,61.4700,40.1500,85.9200,21.5900,177.6000,74.9400,105.4100,95.5900,94.6300
2023-08-09,445.7500,367.9100,191.5700,61.9900,61.2100,40.0900,86.2500,21.8000,177.7900,74.9600,106.1600,97.1900,95.3600
2023-08-08,448.7500,372.0000,193.0800,61.8500,61.7500,39.9900,86.2100,21.5000,178.6400,74.9500,106.0600,96.6900,95.3000
2023-08-07,450.7100,375.1900,194.3000,62.1800,62.3000,40.4800,86.7900,21.5000,179.7800,74.7900,105.6400,95.5800,94.8200
2023-08-04,446.8100,372.0400,194.1700,61.5900,61.7800,40.5400,85.7500,21.4600,180.1900,74.6500,105.9000,96.5300,95.0500
2023-08-03,448.8400,373.7900,194.5600,61.4800,61.1900,40.5900,86.4100,21.4000,179.5400,74.2100,104.8100,94.8500,94.0500
2023-08-02,450.1300,374.3900,195.1100,61.6500,61.4900,40.4300,87.3700,21.1600,179.6000,74.4500,105.7600,97.0900,94.7500
2023-08-01,456.4800,382.7900,197.8000,62.7900,62.6700,41.4200,87.8800,21.5500,180.4600,74.7700,106.4100,98.1400,94.9400
2023-07-31,457.7900,383.6800,198.7100,63.4900,63.4200,41.9500,88.0500,21.6000,182.3500,75.1420,107.4810,99.7750,95.4980
2023-07-28,456.9200,383.4800,196.4300,63.5100,63.7000,41.9300,87.5500,21.4500,181.8600,74.9629,107.1820,99.5357,95.3783
2023-07-27,452.4900,376.6200,193.9200,62.9700,63.3400,40.9400,87.7200,21.3500,180.4200,74.5349,106.4844,99.0271,95.0691
2023-07-26,455.5100,377.5200,196.4600,63.3400,62.8300,41.4500,89.6900,21.2500,183.3000,75.1320,107.7999,100.9916,96.1164
2023-07-25,455.4400,378.7800,194.9200,63.2200,62.5800,41.2100,89.2300,21.3700,182.4100,74.8335,107.3016,100.8919,95.7873
2023-07-24,454.2000,376.2300,194.9400,63.1000,62.5000,40.8700,89.8600,21.3000,181.4000,74.8832,107.4710,101.0814,95.9668
2023-07-21,452.1800,375.6300,194.4600,63.4200,62.4100,40.3200,89.1400,20.8600,182.1800,75.0126,107.6006,101.4504,96.1962
2023-07-20,452.1800,376.7600,195.0800,63.2000,62.4800,40.3800,88.7300,20.6800,182.7400,74.8235,107.4112,101.4205,96.1164
2023-07-19,455.2000,385.6500,196.8000,63.4400,63.3200,40.6800,89.0000,20.5700,183.6700,75.1520,108.1387,102.6670,96.8845
2023-07-18,454.1900,385.7400,195.9700,63.4500,63.3100,40.7600,88.0300,20.4600,183.6400,75.0922,107.5308,101.5202,96.5553
2023-07-17,450.8400,382.6100,193.5800,63.0800,62.4500,41.0600,88.5500,20.1400,181.5600,74.8832,107.2617,101.0615,96.4456
2023-07-14,449.2800,379.0700,191.5300,63.1700,62.4200,41.0100,89.1500,20.3800,181.4300,74.7439,107.0824,101.0116,96.2860
2023-07-13,449.5600,379.1500,193.4200,63.4700,63.1800,41.2400,89.2800,20.5300,182.0100,75.2913,107.9195,101.6099,96.7648
2023-07-12,446.0200,372.8200,191.8700,62.4900,62.2500,40.7100,88.6600,20.2700,181.8800,74.8434,107.1621,100.5529,95.9668
2023-07-11,442.4600,368.1700,189.8000,61.0400,61.8200,39.8200,88.1800,20.1600,179.4500,74.2662,106.2253,99.4459,95.0392
2023-07-10,439.6600,366.3600,187.8700,60.3900,61.5500,39.4200,87.0100,19.9000,178.7800,73.8681,105.7270,98.9373,94.8397
2023-07-07,438.5500,366.2400,184.7100,60.0300,61.6400,39.3900,86.6500,19.9000,178.6400,73.4998,105.1789,98.8077,94.3509
2023-07-06,439.6600,367.4600,182.7800,59.6400,60.7700,38.9500,86.8800,19.6900,177.3100,73.4302,105.2786,99.4060,94.4706
2023-07-05,443.1300,370.2800,185.7800,60.7200,61.5800,39.7600,87.5800,19.7100,177.8400,73.9676,106.3549,100.8321,95.2486
2023-07-03,443.7900,370.2900,187.6500,61.5200,62.0900,40.0000,87.2800,19.4600,178.4700,74.1965,107.1222,101.7994,95.7075
2023-06-30,443.2800,369.4200,187.2700,61.7000,61.9000,39.5600,86.5400,19.4900,178.2700,74.3129,107.4232,102.3798,96.1244
2023-06-29,438.1100,363.8100,186.3800,60.7500,61.5100,39.2500,86.1100,19.3200,177.0900,73.9566,106.6384,101.1863,95.9155
2023-06-28,436.3900,364.5400,184.2600,60.8400,61.8200,39.4600,85.2500,19.2600,177.2800,74.1546,107.4530,103.0462,96.9105
2023-06-27,436.1700,363.8300,183.3600,60.8900,61.1400,39.7000,85.1200,19.2300,177.6900,73.7289,106.9861,102.6086,96.5224
2023-06-26,431.4400,357.6800,180.7500,60.2800,60.9100,39.3000,84.1100,19.6000,178.5100,73.4814,107.1053,102.8771,96.8608
2023-06-23,433.2100,362.5400,180.5700,60.2000,60.9100,39.1700,82.2400,19.5300,178.2000,73.4418,106.9861,102.7677,96.6219
2023-06-22,436.5100,366.1700,183.3300,60.9400,62.4500,39.7500,83.3000,19.7000,177.7100,73.5705,106.6881,101.7532,96.2239
2023-06-21,434.9400,361.9000,184.7000,61.1800,62.9700,39.8900,84.5400,20.1700,179.4900,73.7883,107.2444,102.9964,96.7712
2023-06-20,437.1800,366.9000,185.1300,61.3000,62.2300,40.0800,84.9100,19.8400,179.7500,73.9764,107.3636,102.7478,96.6817
2023-06-16,439.4600,367.4260,185.9400,62.1810,63.1000,40.8800,85.8100,20.0300,181.6300,74.1744,106.9762,102.0417,96.3931
2023-06-15,440.9620,369.7528,187.4400,62.2301,63.7100,41.0200,85.8400,19.7500,181.9100,74.3624,107.1649,102.4395,96.8110
2023-06-14,435.5620,365.3988,185.9100,61.3949,63.8000,40.6400,85.3900,19.2300,180.6400,74.0061,106.2411,101.4648,96.0647
2023-06-13,435.0440,362.7624,187.9300,61.1787,63.5100,40.3400,84.9600,19.2800,180.5400,73.9764,105.9133,100.6592,95.9354
2023-06-12,432.1945,359.9962,185.8000,60.7071,62.6100,39.9400,84.3400,18.9200,181.8800,73.8873,106.3901,101.6637,96.6219
2023-06-09,428.3090,354.0144,185.0300,60.4417,62.2200,39.8600,84.2400,19.3200,182.0400,73.9665,106.0523,101.3654,96.4627
2023-06-08,427.5419,352.6662,186.5400,60.8053,61.5200,39.6800,84.7600,19.4300,182.5300,73.9467,106.3305,101.5046,96.8110
2023-06-07,424.9714,348.3422,187.2400,60.1076,61.0000,39.4000,85.2000,19.5100,180.1500,73.4814,105.6252,100.3310,96.1642
2023-06-06,426.4459,354.3539,183.8010,60.3730,62.6090,39.5700,83.8840,19.3700,182.3400,73.8873,106.5788,101.8428,96.8707
2023-06-05,425.5194,354.4138,179.0841,60.1469,61.3576,39.2227,83.1674,19.3300,182.1400,73.7685,106.3702,101.2460,96.8110
2023-06-02,426.3363,354.1642,181.5173,60.5793,61.5761,39.2326,83.7248,19.3600,181.0500,73.8279,106.5987,101.4350,96.8409
2023-06-01,420.2589,351.5278,175.1649,59.8718,60.4141,38.5678,81.8934,19.0000,183.7600,73.4517,106.8868,102.5588,97.6170
2023-05-31,416.3036,347.5133,173.2901,59.1741,58.9343,37.8931,81.8436,18.6700,182.3200,73.0132,106.5600,102.1580,97.3464
2023-05-30,418.6250,349.5006,175.0153,59.8129,59.4507,38.2503,81.4157,18.8600,182.0400,73.2398,106.2134,101.2752,96.9791
2023-05-26,418.4655,347.9227,175.6635,60.4417,59.8381,38.6968,81.0673,19.3700,180.9200,72.9245,105.4213,100.2734,96.2246
2023-05-25,413.1154,339.2546,173.6890,59.7834,59.6394,38.0221,80.1417,19.1500,180.2000,72.4812,104.9757,99.4699,96.0459
2023-05-24,409.5686,331.1957,175.0552,59.9406,59.3018,38.1015,80.1317,19.4600,181.9500,72.5304,105.3223,99.7179,96.6515
2023-05-23,412.5575,332.9034,176.9300,60.8938,59.9374,38.3892,81.8038,19.3200,183.4300,73.0427,105.7381,100.2139,96.8997
2023-05-22,417.2401,337.1775,177.7677,61.7978,60.8114,38.9945,82.6896,19.2400,183.2100,73.4270,105.5203,99.9262,96.7408
2023-05-19,417.0707,336.0490,175.6236,61.8764,60.5432,38.6770,82.1721,19.2500,183.6400,73.1019,105.5599,100.2833,96.9195
2023-05-18,417.6785,336.8080,176.7007,61.4244,60.4439,38.6472,82.2816,19.2900,181.8400,73.0230,105.6886,100.9975,97.2868
2023-05-17,413.6933,330.6664,175.6336,61.5423,60.4340,38.8556,82.6498,19.4300,184.2300,72.9836,106.1342,101.7514,97.8924
2023-05-16,408.7317,326.7119,171.8042,61.2770,60.0268,38.6770,81.5948,19.1200,184.8700,72.7866,106.1441,102.0489,98.2100
2023-05-15,411.4815,326.3423,174.3472,61.9255,60.1460,38.9548,83.6352,19.3200,187.2100,73.2989,106.6788,102.3564,98.5277
2023-05-12,410.0668,324.5847,172.2430,61.4637,59.7884,38.2503,83.7745,19.0300,186.8100,73.3186,107.2531,103.4277,98.7461
2023-05-11,410.6048,325.7532,172.5920,61.6307,59.5004,38.7068,83.7546,19.1500,187.1300,73.5846,107.9165,104.3006,99.3417
2023-05-10,411.3221,324.6946,173.9283,61.8960,59.3316,38.8457,84.6802,19.4700,188.7500,73.7028,107.5006,103.2095,98.9744
2023-05-09,409.4092,321.1994,173.0508,61.9746,59.6295,38.8655,83.8740,19.5800,189.0200,73.2595,106.6590,102.2176,98.2398
2023-05-08,411.2125,323.2466,173.5693,62.4660,58.9939,39.1037,84.2622,19.5200,187.6900,73.4467,106.6986,102.5846,98.3589
2023-05-05,411.1029,322.4477,173.9682,62.4561,59.1230,39.0838,84.7400,19.2600,187.4600,73.6536,107.4709,104.0427,98.9645
2023-05-04,403.6307,315.7369,169.9294,61.5325,58.3384,38.5678,83.3565,18.8000,190.4400,73.2595,107.8967,104.3899,99.5006
2023-05-03,406.5100,316.8554,171.8541,61.8469,58.2291,38.2603,82.6797,18.6900,189.1100,73.4762,108.1937,105.4314,99.5204
2023-05-02,409.3195,318.9425,171.2258,61.6504,57.8815,38.3198,83.0778,19.1600,187.5200,73.5156,108.0155,104.8461,98.8752
2023-05-01,413.9723,321.7487,174.8159,62.3775,58.3682,38.6968,84.5210,19.7600,183.9700,73.5846,106.7283,102.2969,97.6045
2023-04-28,414.3907,322.1181,174.7162,62.3677,58.4377,38.8258,85.2774,19.9100,184.8000,73.9235,108.4789,105.3342,98.7670
2023-04-27,410.8837,319.9112,173.2003,62.2793,58.9045,38.6274,84.2722,19.6300,184.7500,73.6096,107.6401,103.6620,98.0341
2023-04-26,402.8635,311.4428,170.9167,61.5619,57.9610,38.1114,82.2517,19.6000,184.7400,73.3644,108.0348,104.7009,98.6778
2023-04-25,404.5771,309.5654,172.5821,61.5128,58.1696,37.8931,82.8987,20.0100,185.7500,73.6488,108.5085,105.8289,99.0641
2023-04-24,411.1029,315.5172,176.9500,62.5642,58.5768,38.6175,83.7845,20.3800,184.8100,73.7666,108.0348,104.2953,98.0935
2023-04-21,410.6745,316.1763,177.0696,62.3087,58.6065,38.7068,84.0233,20.2100,184.2500,73.5606,107.5611,103.2960,97.6182
2023-04-20,410.3557,315.8467,176.8403,61.8469,58.2788,39.0739,83.8541,20.2100,186.0900,73.3349,107.4921,103.8797,97.8558
2023-04-19,412.6073,318.2734,177.7577,61.9353,58.0901,39.1334,84.7201,20.5600,185.3600,73.4036,107.0875,102.9991,97.2914
2023-04-18,412.6771,318.4232,177.5284,62.0729,58.5569,39.5303,84.3020,20.8800,186.2500,73.6979,107.6203,103.0981,97.4993
2023-04-17,412.4081,318.4032,178.2863,61.6504,58.2093,39.5799,84.4613,20.8400,185.5300,73.6488,107.2651,102.7320,97.3409
2023-04-14,410.9335,318.1336,176.0225,61.9452,58.0404,39.4112,82.6697,20.9800,186.3600,73.8450,107.9460,103.9688,97.9648
2023-04-13,411.9398,318.7328,177.6779,62.0434,58.4774,39.6196,84.0233,20.9300,189.7200,73.9824,108.3012,104.9285,98.4501
2023-04-12,406.5399,312.6112,175.3544,61.2180,57.6730,39.0838,84.2622,21.0100,187.1900,73.4821,108.1137,105.7596,98.7769
2023-04-11,408.2037,315.3973,176.6508,60.7365,57.4843,39.3616,84.6802,20.8100,186.2800,73.5017,108.3407,105.8685,98.4897
2023-04-10,408.0941,317.4346,175.2646,60.5007,57.2956,39.1235,84.2324,20.6000,185.1100,73.3447,108.3703,105.6508,98.5293
2023-04-06,407.6757,317.6143,173.4098,60.5007,57.4148,39.0838,83.8243,20.6200,186.4900,73.4134,108.8736,107.3823,99.5097
2023-04-05,406.0916,315.4872,173.1505,59.9897,57.6630,38.9251,83.3167,20.6600,187.8300,73.0897,108.9723,107.1052,99.4800
2023-04-04,407.1576,318.6329,174.8658,60.3238,58.5370,39.2326,83.7745,20.6300,187.9800,73.5017,108.6170,105.9971,99.0641
2023-04-03,409.4291,319.7115,177.9871,60.3140,58.5569,39.2326,83.8342,20.6600,184.5400,73.7175,108.4789,105.4727,98.4302
2023-03-31,407.8749,320.4904,177.9073,59.8915,58.2887,39.1533,84.5011,20.1200,183.2200,73.7744,107.8276,104.9790,97.9688
2023-03-30,402.2060,315.2476,174.6962,59.7342,57.5836,39.2029,82.7593,19.8700,184.1800,72.9834,106.8635,103.4295,97.4350
2023-03-29,399.8647,312.2916,174.9355,58.8400,57.3154,38.8159,81.7342,19.7100,182.5300,72.5538,106.7160,102.9558,97.2868
2023-03-28,394.1360,306.6993,172.9710,57.9065,57.0969,38.7068,79.9426,19.8300,183.4400,71.6554,106.2241,103.1630,97.4548
2023-03-27,395.0226,308.3371,173.2203,57.9557,56.9877,38.1610,80.2014,19.7400,181.9500,71.6945,106.4012,102.9755,97.5141
2023-03-24,394.2854,310.4641,171.3156,57.2875,56.7394,38.3694,80.3109,19.2400,183.6500,71.8702,107.6898,105.4527,98.7298
2023-03-23,391.7149,309.3257,169.7798,57.7395,56.5706,38.4686,78.3601,19.1500,185.7400,72.0167,107.3554,105.0086,98.7001
2023-03-22,390.6588,305.7007,170.5367,57.7297,56.3223,37.9427,78.8269,19.2400,183.4400,72.2999,107.0504,105.0086,98.1368
2023-03-21,397.4337,309.9149,175.5145,58.0638,56.4812,37.7939,81.6672,19.2100,180.3700,72.2316,106.4307,103.6269,96.8617
2023-03-20,392.2828,305.5509,172.3351,56.9730,56.1336,37.4566,82.1324,19.0200,183.8400,71.4503,105.9191,104.5250,97.7118
2023-03-17,388.5467,304.4703,170.1294,55.8794,55.3291,37.3176,81.2120,18.8900,183.7700,71.6457,106.2339,105.4527,98.1071
2023-03-16,393.1436,305.9161,174.8488,56.7311,55.6767,37.5459,83.0725,19.0600,178.5700,72.0753,105.7027,103.8933,96.9606
2023-03-15,386.3648,298.0591,172.4941,55.8892,54.5644,36.9803,83.0527,19.0100,178.2100,71.6066,105.8601,104.7125,97.8402
2023-03-14,388.7964,296.5036,175.3854,58.0821,55.6966,37.6252,83.2012,19.5600,176.8300,71.8410,104.8567,102.7288,96.4466
2023-03-13,382.4741,289.8431,172.1960,57.0248,55.8555,37.6054,82.3798,19.9100,177.8600,71.3234,105.1715,104.4460,97.3658
2023-03-10,383.0200,287.7093,175.0475,57.4359,56.3918,37.5459,81.2515,20.1300,173.8700,71.7140,105.0830,104.2092,96.1995
2023-03-09,388.6277,291.8073,180.2439,57.8960,57.0771,37.7443,84.0127,19.9200,170.2000,71.7042,103.5975,100.7352,94.4600
2023-03-08,395.9326,296.9523,185.4006,58.4541,57.1764,38.5976,86.0119,20.2000,168.5400,72.1046,103.6959,100.4885,93.8768
2023-03-07,395.2874,295.4766,185.3111,58.2583,56.4812,38.4389,85.0123,20.3100,168.6200,72.4464,103.8631,100.3898,93.9065
2023-03-06,401.4410,299.1459,187.4871,59.5015,56.9877,39.0937,87.0609,20.8500,171.6200,72.9639,104.1582,99.7779,93.8966
2023-03-03,401.1631,298.8069,190.2691,59.6092,56.9877,39.2326,87.4073,20.8700,172.4900,72.9639,104.4435,100.5576,94.0646
2023-03-02,394.8309,292.7546,187.6560,58.8554,55.7065,38.8854,86.0020,20.5500,170.6600,72.2218,103.2729,98.1791,93.3134
2023-03-01,391.7839,290.3516,187.2089,58.8163,55.6469,38.7464,84.9925,20.6100,170.7600,72.1339,103.1843,99.0574,93.6989
2023-02-28,393.2925,292.7047,186.9704,58.4443,55.5575,37.9328,86.1702,20.3100,169.7800,72.3390,103.8316,100.1332,94.4540
2023-02-27,394.7515,293.0836,186.9605,59.0316,55.7661,38.2007,86.2593,20.1800,169.0100,72.4748,103.7924,99.6803,94.3061
2023-02-24,393.4116,290.9997,186.3047,58.1702,55.2397,38.0023,86.0811,20.2200,168.3500,71.9895,103.7630,99.4046,94.0200
2023-02-23,397.6595,295.9553,188.0634,59.1883,56.0740,38.8754,87.5755,20.1700,169.5700,72.4263,104.5472,100.7140,94.5921
2023-02-22,395.5554,293.3927,186.7320,58.8163,55.5178,38.6869,87.0411,20.0000,169.6600,71.7178,103.7336,99.7394,94.2272
2023-02-21,396.1013,293.1734,186.2252,59.1785,55.9349,38.8754,87.9417,20.3800,170.6200,71.2519,103.4395,98.8336,94.0595
2023-02-17,404.2101,300.2826,191.8886,59.8638,56.6302,39.3716,89.7231,20.3000,171.2600,72.3681,104.9295,100.7928,95.0952
2023-02-16,405.2225,302.4164,191.3620,59.5309,56.6500,39.8081,90.1388,20.5300,170.7500,72.0866,104.5178,100.0150,94.8289
2023-02-15,410.8798,308.1995,193.2101,59.8736,56.8387,39.7982,90.9206,20.6400,170.8900,72.6690,105.3609,101.4524,95.1445
2023-02-14,409.5499,305.8563,191.2726,59.9323,57.4048,40.1356,90.5247,20.9000,172.6100,72.7854,105.7628,102.4073,95.4305
2023-02-13,409.7384,303.6129,191.3620,59.6484,57.6928,40.2050,91.3263,20.8300,172.4800,72.7660,106.0275,102.6436,95.8645
2023-02-10,404.9843,298.8268,189.0867,58.8163,57.7226,39.8776,90.4653,20.9000,173.3600,72.5816,105.6354,101.7871,95.6377
2023-02-09,404.0414,300.8011,188.7092,59.2960,57.3949,40.2646,90.1783,20.5300,173.0300,73.1446,106.3804,102.9390,96.1013
2023-02-08,407.5747,303.4832,191.4812,59.1981,57.3353,40.0760,91.2373,20.6800,174.4100,73.6202,107.2822,103.9235,96.5353
2023-02-07,412.0807,308.9772,194.3228,59.4428,57.9709,40.1256,91.6233,20.5900,173.9800,73.9308,107.1744,103.4312,96.1802
2023-02-06,406.7609,302.7055,192.8921,59.0121,57.1367,39.9669,91.7816,20.1300,173.8200,73.6687,107.5273,104.2681,96.4169
2023-02-03,409.2620,305.2880,195.7238,59.6582,57.6630,40.5622,92.3457,19.9900,173.4600,74.1443,108.3605,105.0458,97.2553
2023-02-02,413.6588,310.8118,197.0452,60.2554,58.3285,41.2965,94.2558,20.4700,177.9000,74.9305,109.6055,106.6407,98.3107
2023-02-01,407.7236,300.0433,193.2399,60.1477,58.4675,41.5445,92.2270,20.6900,181.6700,74.5034,109.4487,106.5029,98.3502
2023-01-31,403.4360,293.7616,190.2492,59.4624,58.2689,41.0385,91.6331,21.2100,179.4100,73.7289,108.3488,105.2378,97.6479
2023-01-30,397.5901,289.4243,185.7384,59.0414,58.0702,41.1278,89.8617,20.8700,178.7600,73.1590,107.5768,104.4031,97.1558
2023-01-27,402.6419,295.3969,188.3614,59.4037,58.4179,41.9712,90.9503,21.2000,179.2200,73.5647,107.9872,104.7861,97.4609
2023-01-26,401.7189,292.4854,187.3480,59.5994,58.2589,42.1696,90.0299,21.4800,179.4700,73.7868,108.2999,105.0512,97.6085
2023-01-25,397.3519,286.8917,186.2451,59.5309,58.3781,41.7727,89.0402,21.3200,181.1100,73.6033,108.3390,105.5422,97.9629
2023-01-24,397.2030,287.5298,185.7284,59.2960,57.6829,41.7331,89.1392,21.3700,180.2800,73.6129,108.2901,105.2869,97.8546
2023-01-23,397.6298,288.1181,186.1259,59.4624,57.2956,41.7033,88.8720,21.6000,179.6300,73.5647,107.7233,103.7943,97.2936
2023-01-20,392.9153,281.8564,183.8506,59.1883,57.4545,41.4056,88.5454,21.4900,179.2900,73.5743,108.0361,104.2853,97.6085
2023-01-19,385.7296,274.3484,180.8699,58.6890,56.8089,40.7805,87.4568,21.2800,179.8900,73.4294,108.6029,106.0037,98.2581
2023-01-18,388.5582,277.0704,182.6186,58.9827,56.8387,40.4729,87.9318,21.0800,177.0800,73.8641,108.8276,106.6715,98.4451
2023-01-17,394.7912,280.7198,185.6192,59.1589,56.9182,40.7507,89.1689,21.3700,177.5900,73.7772,107.5670,104.1478,97.1262
2023-01-13,395.5157,280.1514,185.8477,59.0121,56.3819,40.9790,89.0798,21.1500,178.7600,74.0283,107.9579,104.8254,97.4313
2023-01-12,393.9872,278.2370,184.6355,58.7380,56.1435,40.7111,89.5746,20.9000,176.6400,74.0283,108.3097,105.8171,97.9530
2023-01-11,392.5580,276.7414,181.5853,58.0233,54.8226,40.5126,88.6147,20.6800,174.6200,73.6129,107.0979,103.7746,97.0869
2023-01-10,387.6550,272.0351,179.3497,57.6121,54.3856,40.3439,85.5071,20.2100,174.7400,73.1300,106.1890,102.1151,96.4668
2023-01-09,384.9554,269.7518,176.7366,57.3380,54.5147,40.0562,85.3191,20.2100,174.1000,73.2169,106.5506,103.8336,97.0770
2023-01-06,385.1737,268.0168,176.4386,56.9758,54.3955,39.7585,85.3191,19.9700,173.7100,72.9561,106.1304,103.2837,96.8310
2023-01-05,376.5389,260.8179,172.5636,55.4976,53.0647,38.9449,82.9835,19.8600,170.5200,71.9322,104.4202,101.4179,95.6006
2023-01-04,380.8861,264.9658,174.4315,56.0066,53.7897,39.0640,85.2597,19.9200,172.6700,72.0771,104.4984,100.9957,95.7384
2023-01-03,377.9681,263.7094,172.2854,54.9591,54.3260,37.9229,83.4684,20.5800,171.0600,71.2561,103.7459,99.6307,95.0101
2022-12-30,379.5660,265.5042,173.2393,54.2739,54.0678,37.6054,83.3200,21.2300,169.6400,71.1209,103.0325,97.7650,94.2719
2022-12-29,380.5685,265.6637,173.7261,54.9396,54.4949,38.1313,84.0127,20.9900,168.8500,71.0629,103.6873,98.8648,94.6656
2022-12-28,373.8393,259.3422,169.4339,54.0683,53.5017,37.5062,82.1818,21.0400,167.9100,70.1549,102.9543,97.7552,94.2030
2022-12-27,378.5438,262.8121,172.1066,54.5676,54.1473,38.0618,83.5971,21.2400,168.6700,71.1112,103.2768,98.3345,94.4294
2022-12-23,380.0425,266.5811,173.2690,54.4599,54.3955,37.5062,83.6564,21.0900,167.2600,71.8550,104.6254,100.3181,95.2266
2022-12-22,377.8689,265.9828,172.4841,54.2837,54.3558,37.5558,82.9439,20.7100,166.7600,71.6714,104.9479,101.8107,95.6597
2022-12-21,383.3376,272.6534,174.7693,54.7634,54.5147,37.8931,83.2804,20.8700,168.8000,72.1158,104.9772,101.8304,95.6892
2022-12-20,377.6902,268.7547,171.8085,54.0096,54.5942,37.5558,82.4293,20.4200,169.0800,71.5072,104.2638,101.5750,95.5711
2022-12-19,377.1741,268.9641,170.9043,53.9117,53.8294,37.5657,82.6569,20.4100,166.3200,71.6908,105.5050,103.4113,96.2699
2022-12-16,380.3998,272.7979,173.2492,53.9821,54.1770,37.5359,83.6465,20.4300,166.7900,72.0578,106.5799,105.1789,97.0573

In [160]:
# 12개월 이동평균 생성 및 저장
PAA_12mo_ma = df_PAA.rolling(window=252).mean().loc[month_12_ago_workday]  # 252 개의 영업일은 대략 12개월
df_PAA_12mo_ma = pd.DataFrame([PAA_12mo_ma], columns=PAA, index=['12mo_moving_average'])

# 가격 비율 계산 및 DataFrame 생성
df_PAA_12mo_ror = pd.DataFrame(index=['12개월 수익률'])
for symbol in PAA:
    price_today = df_PAA[symbol][0]
    price_12mo_ma = PAA_12mo_ma[symbol]
    ror = (price_today / price_12mo_ma - 1) * 100
    df_PAA_12mo_ror[symbol] = [ror]

df_PAA_12mo_ma = pd.concat([df_PAA_12mo_ma, df_PAA_12mo_ror])

# csv 경로 설정
output_path =  '/content/drive/MyDrive/colab/'

# 오늘 날짜를 가져와서 파일명에 추가
today_date = datetime.now().strftime('%y%m%d')
filename = f'{today_date} PAA.xlsx'

# 오늘 날짜 string에 저장
str_today = today.strftime('### %Y-%m-%d ')

str_PAA_12mo_ma = str_today + "### 12개월 이동평균 및 12개월 수익률"
display(Markdown(str_PAA_12mo_ma))
display(df_PAA_12mo_ma)

# csv에 제목 및 DataFrame 추가
with open(output_path + filename, 'w') as f:
  f.write(f'{str_PAA_12mo_ma}\n')
  df_PAA_12mo_ma.to_csv(f, index=True)

# 0 이하 원소 개수 세기
count_negative_etf = (df_PAA_12mo_ror < 0).sum().sum().item()
str_count_negative_etf = "### 12개월 수익률 0 미만 ETF 개수: " + str(count_negative_etf)

display(Markdown(str_count_negative_etf))

# 안전자산 비율 계산
display(Markdown('### 안전자산 비율: ' + str(round((count_negative_etf) * (100/6), 1)) + '%'))

### 2023-08-15 ### 12개월 이동평균 및 12개월 수익률

,SPY,QQQ,IWM,VGK,EWJ,EEM,IYR,GSG,GLD,HYG,LQD,TLT,IEF
12mo_moving_average,403.2125,309.9914,180.8306,56.5855,56.3974,38.4234,85.6225,20.7340,172.3350,72.3846,105.0953,101.8544,96.1617
12개월 수익률,11.1349,19.4710,5.4357,8.8264,7.8419,2.4636,-0.1548,3.4052,2.7418,3.3645,-0.0811,-6.5725,-2.2687

### 12개월 수익률 0 미만 ETF 개수: 4

### 안전자산 비율: 66.7%

In [161]:
# 모멘텀스코어 계산할 오늘-1-3-6-12개월 날짜 저장
ago_name = ['today', 'month_01_ago', 'month_03_ago', 'month_06_ago', 'month_12_ago']
ago_date = [today_workday.date(), \
            month_01_ago_workday.date(), \
            month_03_ago_workday.date(), \
            month_06_ago_workday.date(), \
            month_12_ago_workday.date()]

# '개월 전/날짜' 형식으로 텍스트 저장
ago = [f'{a}/{d}' for a, d in zip(ago_name, ago_date)]

# ETF의 날짜별 데이터 담기
etf_data = {}

for i in range(len(PAA)):
  etf_data[PAA[i]] = [df_PAA.loc[today_workday, PAA[i]], \
                          df_PAA.loc[month_01_ago_workday, PAA[i]], \
                          df_PAA.loc[month_03_ago_workday, PAA[i]], \
                          df_PAA.loc[month_06_ago_workday, PAA[i]], \
                          df_PAA.loc[month_12_ago_workday, PAA[i]]]


## DataFrame 만들기: 1-3-6-12 개월 etf 가격
df_etf_price = pd.DataFrame(etf_data, columns=PAA, index=ago)
str_etf_price = str_today + "### ETF 가격 현재-1-3-6-12 개월"

display(Markdown(str_etf_price))
display(df_etf_price)

# csv에 제목 및 DataFrame 추가. 드라이브 마운트 후 해야함
with open(output_path + filename, 'a') as f:
  f.write('\n')
  f.write(f'{str_etf_price}\n')
  df_etf_price.to_csv(f, index=True)

### 2023-08-15 ### ETF 가격 현재-1-3-6-12 개월

,SPY,QQQ,IWM,VGK,EWJ,EEM,IYR,GSG,GLD,HYG,LQD,TLT,IEF
today/2023-08-14,448.1100,370.3500,190.6600,61.5800,60.8200,39.3700,85.4900,21.4400,177.0600,74.8200,105.0100,95.1600,93.9800
month_01_ago/2023-07-14,449.2800,379.0700,191.5300,63.1700,62.4200,41.0100,89.1500,20.3800,181.4300,74.7439,107.0824,101.0116,96.2860
month_03_ago/2023-05-15,411.4815,326.3423,174.3472,61.9255,60.1460,38.9548,83.6352,19.3200,187.2100,73.2989,106.6788,102.3564,98.5277
month_06_ago/2023-02-13,409.7384,303.6129,191.3620,59.6484,57.6928,40.2050,91.3263,20.8300,172.4800,72.7660,106.0275,102.6436,95.8645
month_12_ago/2022-08-12,420.2376,328.0511,197.1381,54.5237,56.5130,40.1194,99.6723,22.5700,167.8700,74.5055,109.9404,112.1414,101.0317

In [162]:
etf_momentum_score = []
etf_ror_data = []

## DataFrame 만들기: 수익률
for etf_name in PAA:
  etf_today_price = df_etf_price.loc[ago[0], etf_name]
  etf_momentum_score.append((12 * (etf_today_price/df_etf_price.loc[ago[1], etf_name] - 1) * 100) + \
                            (4 * (etf_today_price/df_etf_price.loc[ago[2], etf_name] - 1) * 100) + \
                            (2 * (etf_today_price/df_etf_price.loc[ago[3], etf_name] - 1) * 100) + \
                            (1 * (etf_today_price/df_etf_price.loc[ago[4], etf_name] - 1) * 100))

  etf_ror_data.append([(etf_today_price/df_etf_price.loc[ago[1], etf_name] - 1) * 100, \
                       (etf_today_price/df_etf_price.loc[ago[2], etf_name] - 1) * 100, \
                       (etf_today_price/df_etf_price.loc[ago[3], etf_name] - 1) * 100, \
                       (etf_today_price/df_etf_price.loc[ago[4], etf_name] - 1) * 100])

df_etf_ror = pd.DataFrame(etf_ror_data, columns=ago[1:], index=PAA).transpose()

str_etf_ror = str_today + "### ETF 1-3-6-12 개월 수익률"
display(Markdown(str_etf_ror))
display(df_etf_ror)

# csv에 제목 및 DataFrame 추가
with open(output_path + filename, 'a') as f:
  f.write('\n')
  f.write(f'{str_etf_ror}\n')
  df_etf_ror.to_csv(f, index=True)
  # df_etf_ror.to_csv(filename, mode='a', header=True, index=True)

### 2023-08-15 ### ETF 1-3-6-12 개월 수익률

,SPY,QQQ,IWM,VGK,EWJ,EEM,IYR,GSG,GLD,HYG,LQD,TLT,IEF
month_01_ago/2023-07-14,-0.2604,-2.3004,-0.4542,-2.5170,-2.5633,-3.9990,-4.1054,5.2012,-2.4086,0.1018,-1.9353,-5.7930,-2.3949
month_03_ago/2023-05-15,8.9016,13.4851,9.3565,-0.5580,1.1207,1.0658,2.2178,10.9731,-5.4217,2.0752,-1.5643,-7.0307,-4.6157
month_06_ago/2023-02-13,9.3649,21.9810,-0.3668,3.2383,5.4204,-2.0769,-6.3907,2.9285,2.6554,2.8227,-0.9596,-7.2909,-1.9658
month_12_ago/2022-08-12,6.6325,12.8940,-3.2861,12.9417,7.6213,-1.8680,-14.2289,-5.0066,5.4745,0.4221,-4.4846,-15.1429,-6.9797

In [163]:
## DataFrame 만들기: 수익률 가중치
df_etf_ror_weight = df_etf_ror
df_etf_ror_weight = df_etf_ror_weight.apply(lambda row: row * 12 if row.name == ago[1] else row, axis=1)
df_etf_ror_weight = df_etf_ror_weight.apply(lambda row: row * 4 if row.name == ago[2] else row, axis=1)
df_etf_ror_weight = df_etf_ror_weight.apply(lambda row: row * 2 if row.name == ago[3] else row, axis=1)

str_etf_ror_weight = str_today + "### ETF 1-3-6-12 개월 가중치 적용"
display(Markdown(str_etf_ror_weight))
display(df_etf_ror_weight)

# csv에 제목 및 DataFrame 추가
with open(output_path + filename, 'a') as f:
  f.write('\n')
  f.write(f'{str_etf_ror_weight}\n')
  df_etf_ror_weight.to_csv(f, index=True)

### 2023-08-15 ### ETF 1-3-6-12 개월 가중치 적용

,SPY,QQQ,IWM,VGK,EWJ,EEM,IYR,GSG,GLD,HYG,LQD,TLT,IEF
month_01_ago/2023-07-14,-3.1250,-27.6044,-5.4508,-30.2041,-30.7593,-47.9883,-49.2653,62.4142,-28.9037,1.2218,-23.2236,-69.5159,-28.7394
month_03_ago/2023-05-15,35.6064,53.9405,37.4261,-2.2318,4.4827,4.2632,8.8710,43.8924,-21.6869,8.3008,-6.2572,-28.1230,-18.4627
month_06_ago/2023-02-13,18.7298,43.9620,-0.7337,6.4766,10.8407,-4.1538,-12.7813,5.8569,5.3108,5.6454,-1.9193,-14.5818,-3.9317
month_12_ago/2022-08-12,6.6325,12.8940,-3.2861,12.9417,7.6213,-1.8680,-14.2289,-5.0066,5.4745,0.4221,-4.4846,-15.1429,-6.9797

In [164]:
## DataFrame 만들기: 모멘텀
df_etf_momentum_score = pd.DataFrame(etf_momentum_score, columns=['momentum_score'], index=PAA).transpose()

str_etf_momentum_score = str_today + "### ETF 별 12개월 Momentum Score"
display(Markdown(str_etf_momentum_score))
display(df_etf_momentum_score)

# csv에 제목 및 DataFrame 추가
with open(output_path + filename, 'a') as f:
  f.write('\n')
  f.write(f'{str_etf_momentum_score}\n')
  df_etf_momentum_score.to_csv(f, index=True)

### 2023-08-15 ### ETF 별 12개월 Momentum Score

,SPY,QQQ,IWM,VGK,EWJ,EEM,IYR,GSG,GLD,HYG,LQD,TLT,IEF
momentum_score,57.8437,83.1921,27.9555,-13.0177,-7.8146,-49.7469,-67.4045,107.1569,-39.8053,15.5902,-35.8846,-127.3635,-58.1134

In [165]:
# 12개월 수익률 (-)인 ETF 개수 및 16.7%씩 투자할 자산 개수와 종목
count_invest_etf = (lambda count_negative_etf: 6 - count_negative_etf if count_negative_etf < 7 else 0)(count_negative_etf)
str_count_invest_etf = "## 16.7% 씩 투자할 자산 개수: " + str(count_invest_etf)

copy_etf_momentum_score = etf_momentum_score.copy()
recommended_etfs = []
for i in range(count_invest_etf):
  recommended_etfs.append(PAA[copy_etf_momentum_score.index(max(copy_etf_momentum_score))])
  copy_etf_momentum_score[copy_etf_momentum_score.index(max(copy_etf_momentum_score))] = -99999  # 선택된 ETF 점수를 낮은 값으로 변경

str_etf_PAA = "## 및 추천 종목: " + ' '.join(recommended_etfs)

display(Markdown(str_today[1:]))
display(Markdown(str_count_negative_etf[1:]))
display(Markdown(str_count_invest_etf))
display(Markdown(str_etf_PAA))

# csv에 자산 투자 조언 추가
with open(output_path + filename, 'a') as f:
  f.write('\n')
  f.write(f'{str_today[1:]}\n')
  f.write(f'{str_count_negative_etf[1:]}\n')
  f.write(f'{str_count_invest_etf}\n')
  f.write(f'{str_etf_PAA}')

## 2023-08-15

## 12개월 수익률 0 미만 ETF 개수: 4

## 16.7% 씩 투자할 자산 개수: 2

## 및 추천 종목: GSG QQQ